.contact-section{
    padding:35px 0;
    background:#f7f0e8;
}

.contact-title{
    text-align:center;
    font-size:35px;
    margin-bottom:50px;
    color:#8b0029;
    font-family:Arial;
    letter-spacing:1px;
}

/* FORM */

.contact-form{
    max-width:600px;
    margin:0 auto;
}

.custom-input{
    height:55px;
    border:1px solid #999;
    border-radius:0;
    font-size:18px;
    padding-left:20px;
    font-family:Arial;
    letter-spacing:1px;
}

.custom-textarea{
    height:180px;
    border:2px solid black;
    border-radius:0;
    resize:none;
    padding:15px 20px;
    font-family:Arial;
    font-size:18px;
    letter-spacing:1px;
}

.send-btn{
    background:black;
    color:white;
    border:none;
    padding:11px 50px;
    border-radius:10px;
    font-size:18px;
    margin-top:20px;
    letter-spacing:1px;
}

/* CONTACT INFO */

.contact-info{
    text-align:center;
    margin-top:50px;
}

.contact-info h2{
    font-size:35px;
    margin-bottom:20px;
    font-family:Arial;
    letter-spacing:1px;
}

.contact-info p{
    font-size:18px;
    color:#444;
    line-height:2;
    letter-spacing:1px;
    font-family:Arial;
}

.contact-info span{
    text-decoration:underline;
}

.contact-hero{
    background:url("https://images.unsplash.com/photo-1559339352-11d035aa65de?q=80&w=1600&auto=format&fit=crop") center/cover no-repeat;
    height:540px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:0px;
}

.hero-overlay{
    background:rgba(0,0,0,0.5);
    padding:40px 70px;
    border-radius:50px;
}

.hero-content{
    text-align:center;
    color:white;
}

.hero-content h1{
    font-family:Arial;
    font-size:30px;
    letter-spacing:1px;
}

.hero-content p{
    font-family:Arial;
    font-size:18px;
    line-height:1.6;
    letter-spacing:1px;
}


